.git
.gitignore
.vscode
node_modules
index.yaml

.sessions
*.bsqlite3

resources
src/views/layouts/index.src.ejs
*.sh
*.env
*.example
originals
*.json
*.sql
*.config.js

!package.json
!package.lock.json