@tailwind base;
@tailwind components;
@tailwind utilities;

/* margin bottom transition should only apply when unhovering */
/*.nav-link {
    /*inline-block px-5 py-3 bg-black border-b-yellow-500 mb-0 hover:border-b-4 hover:-mb-[4px] transition-[border-width] duration-75*/
    /*@apply inline-block px-5 py-3 bg-black border-b-yellow-500 mb-0 hover:border-b-4 hover:-mb-[4px] ;
    transition: border-width 75ms linear 0ms, margin-bottom 0ms linear 75ms;
}
.nav-link:hover {
    transition: border-width 75ms linear 0ms;
}*/

.disabled {
    /* peer-read-only:text-black/70 peer-read-only:bg-yellow-300 peer-read-only:pointer-events-none */
    @apply text-black/70 bg-yellow-300 pointer-events-none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}