<div class="pt-1">
    <div class="flex flex-col max-w-4xl m-auto gap-6">
        <div class="flex p-6 rounded-xl bg-darkPurple-800">
            <div class="flex-1">
                <img src="/img/wizard-city-poster.jfif" alt="">
            </div>
            <div class="flex-1 flex items-center">
                <div class="px-6">
                    <h1 class="text-xl font-bold">Adventure time distant lands episode 4: Wizard Citty - OUT NOW!</h1>
                    <div class="mt-4">
                        <button class="px-2 py-1 font-bold text-black bg-yellow-500">Watch Now ></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex p-6 rounded-xl bg-darkPurple-800">
            <div class="flex-1">
                <img src="/img/wizard-city-poster.jfif" alt="">
            </div>
            <div class="flex-1 flex items-center">
                <div class="px-6">
                    <h1 class="text-xl font-bold">Adventure time distant lands episode 4: Wizard Citty - OUT NOW!</h1>
                    <div class="mt-4">
                        <button class="px-2 py-1 font-bold text-black bg-yellow-500">Watch Now ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>