<div class="pt-1">
    <div class="flex flex-col max-w-4xl m-auto gap-6">
        <div class="flex flex-col gap-4 p-6 rounded-xl bg-darkPurple-800
            md:flex-row md:gap-0">
            <div class="flex-1">
                <img src="/img/wizard-city-poster.jfif" alt="">
            </div>
            <div class="flex-1 flex items-center">
                <%# weird thing happens when a flex sibling with flex 1 has a padding the other sibling will no longer be of the same size, so a child container with the padding is necessary %>
                <div class="h-full flex flex-col justify-center gap-4
                    md:gap-0 md:px-6">
                    <h1 class="mt-auto text-xl font-bold">Adventure Time Distant Lands Episode 4: Wizard Citty - OUT NOW!</h1>
                    <div class="md:mx-2 md:mt-auto md:mb-3">
                        <button class="w-full px-2 py-1 font-bold text-lg text-black bg-yellow-500 rounded-sm
                            sm:w-auto
                            hover:text-yellow-500 hover:bg-black transition-colors">
                            Watch Now <%- svg('hero-s-play', 'inline-block w-8') %>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 p-6 rounded-xl bg-darkPurple-800
            md:flex-row md:gap-0">
            <div class="flex-1">
                <img src="/img/bmo-poster.jpg" alt="">
            </div>
            <div class="flex-1 flex items-center">
                <%# weird thing happens when a flex sibling with flex 1 has a padding the other sibling will no longer be of the same size, so a child container with the padding is necessary %>
                <div class="h-full flex flex-col justify-center gap-4
                    md:gap-0 md:px-6">
                    <h1 class="mt-auto text-xl font-bold">Adventure Time Distant Lands Episode 1: BMO - OUT NOW!</h1>
                    <div class="md:mx-2 md:mt-auto md:mb-3">
                        <button class="w-full px-2 py-1 font-bold text-lg text-black bg-yellow-500 rounded-sm
                            sm:w-auto
                            hover:text-yellow-500 hover:bg-black transition-colors">
                            Watch Now <%- svg('hero-s-play', 'inline-block w-8') %>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>