<div class="flex gap-4 justify-center flex-wrap m-auto mt-10 max-w-2xl text-center">
    <a href="seasons/" class="flex-initial basis-60 py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
        hover:text-yellow-500 hover:bg-black transition-colors">
        Seasons
    </a>
    <a href="images/" class="flex-initial basis-60 py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
        hover:text-yellow-500 hover:bg-black transition-colors">
        Images
    </a>
    <a href="chapters/" class="flex-initial basis-60 py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
        hover:text-yellow-500 hover:bg-black transition-colors">
        Chapters
    </a>
</div>