<div class="flex items-center gap-4 max-w-2xl m-auto mt-10 text-center">
    <a href="seasons/" class="flex-1 py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
        hover:text-yellow-500 hover:bg-black transition-colors">
        Seasons
    </a>
    <a href="images/" class="flex-1 py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
        hover:text-yellow-500 hover:bg-black transition-colors">
        Images
    </a>
</div>